<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'language_list' %}">Languages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'statistics_list' %}">Statistics</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      {% if user.is_authenticated %}
        <li class="nav-item" >
          <div class="nav-link disabled">Hello! {{ user.username }}</div>
        </li>
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="btn btn-outline-danger">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a href="{% url 'social:begin' 'github' %}" class="btn btn-outline-success">Login with GitHub</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>