{% extends 'base.html' %}

{% block content %}
<h2>Reviews</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User</th>
      <th scope="col">Approved</th>
      <th scope="col">Rejected</th>
      <th scope="col">Commented</th>
      <th scope="col">Change Requested</th>
      <th scope="col">Total Reviews</th>
    </tr>
  </thead>
  <tbody>
  {% for user in object_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="">{{ user.username }}</a></td>
      <td>{{ user.approved_prs }}</td>
      <td>{{ user.rejected_prs }}</td>
      <td>{{ user.commented_prs }}</td>
      <td>{{ user.change_requested_prs }}</td>
      <td>{{ user.reviews_count }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}