{% extends 'base.html' %}

{% block content %}
    <h2>Project languages</h2>
    <ul>
    {% for language in object_list %}
        <li>
            <div><a href="{% url 'pull_request_list' language %}">{{ language.name.capitalize }}</a></div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}