{% extends 'base.html' %}

{% block content %}
<h2>{{ language.capitalize }} Pull Requests</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Project</th>
      <th scope="col">Waiting</th>
      <th scope="col">Approves</th>
    </tr>
  </thead>
  <tbody>
  {% for pull_request in object_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{{ pull_request.url }}">{{ pull_request.name }}</a></td>
      <td>{{ pull_request.project.name }}</td>
      <td>{{ pull_request.waiting_time }}</td>
      <td>{{ pull_request.approves_count }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}